@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background-color: #f9fafc;
}

.writing-mode-vertical {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  text-orientation: mixed;
  cursor: pointer;
} 